body{
    background-color: hsl(212, 45%, 89%);
    
}
h1{
    color: hsl(218, 44%, 22%);
    text-align: center;
    font-weight: 400px;
    font-size: 30px;
    font-family: 'Outfit', sans-serif;
}
p{
    color: hsl(220, 15%, 55%);
    text-align: center;
    font-family: 'Outfit', sans-serif;
}
.container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}

@media screen and (min-width: 1440px) {
    .container{
        margin-top: 100px;
        margin-left: 600px;
        width: 330px;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    #image-container{
        width: 300px;
        height: 300px;
        border-radius: 20px;
        margin-left: 15px;
        margin-top: 20px;
    }
    .text{
        margin-bottom: 40px;
        margin-left: 10px;
    }
    .attribution{
        margin-top: 40px;
    }
}
@media screen and (max-width: 375px) {
    .container{
        margin-top: 100px;
        margin-left: 20px;
        width: 330px;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    #image-container{
        width: 300px;
        height: 300px;
        border-radius: 20px;
        margin-left: 15px;
        margin-top: 20px;
    }
    .text{
        margin-bottom: 40px;
        margin-left: 10px;
    }
    .attribution{
        margin-top: 40px;
    }
}